# Bike Stats Notebook. Data Analysis. Madeline Peters.

In [1]:
# Global imports
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df_weather = pd.read_csv('./weather.csv')

In [3]:
df_trip = pd.read_csv('./trip.csv', error_bad_lines=False)

b'Skipping line 50794: expected 12 fields, saw 20\n'

In [4]:
df_station = pd.read_csv('./station.csv')

### What is the average trip duration for a borrowed bicycle?

In [5]:
df_trip.head(2)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0

In [30]:
trip_avg = df_trip.tripduration.mean() // 60
print(f'Average trip duration was {trip_avg} minutes')

Average trip duration was 19.0 minutes

### Whatâ€™s the most common age of a bicycle-sharer?

In [24]:
grouped = df_trip.birthyear.groupby(df_trip.birthyear)

In [67]:
series = grouped.count().sort_values(ascending=False)
series

birthyear
1987.0    18128
1985.0    10665
1981.0     9953
1982.0     9429
1984.0     9113
1988.0     8633
1986.0     8096
1983.0     7832
1990.0     7529
1989.0     6581
1991.0     5696
1980.0     5113
1977.0     4640
1992.0     4415
1978.0     4218
1975.0     3912
1979.0     3654
1972.0     3496
1962.0     3387
1971.0     3260
1976.0     3193
1974.0     3172
1965.0     2704
1993.0     2635
1967.0     2600
1964.0     2565
1968.0     2519
1970.0     2463
1969.0     2447
1966.0     2139
          ...
1961.0     1793
1963.0     1643
1959.0     1476
1950.0     1210
1994.0      955
1956.0      919
1995.0      910
1960.0      878
1947.0      769
1955.0      748
1953.0      678
1951.0      592
1957.0      474
1952.0      403
1958.0      365
1996.0      355
1949.0      338
1954.0      295
1945.0      197
1946.0      139
1997.0      101
1948.0       65
1939.0       40
1998.0       36
1943.0       21
1936.0        8
1999.0        6
1942.0        4
1944.0        2
1931.0        1
Name: birthyear, Length: 61, dtype: int64

In [41]:
age = 2018 - 1987
print(f'The most common age is {age}.')

The most common age is 31.

### Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [42]:
df_weather.head(2)

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,DAY,DAY_OF_WEEK,MONTH,YEAR
0,2014-10-13,71,62.0,54,55,51,46,87,68,46,...,4,13,4,21,0.00,Rain,1,Monday,10,2014
1,2014-10-14,63,59.0,55,52,51,50,88,78,63,...,3,10,5,17,0.11,Rain,2,Tuesday,10,2014

In [43]:
df_weather['Date'] = pd.to_datetime(df_weather['Date'])

In [50]:
df_weather['MONTH'] = df_weather['Date'].dt.month

In [51]:
df_weather.head(1)

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,DAY,DAY_OF_WEEK,MONTH,YEAR
0,2014-10-13,71,62.0,54,55,51,46,87,68,46,...,4,13,4,21,0.0,Rain,1,Monday,10,2014

In [61]:
avg_precip = df_weather[['Precipitation_In']].groupby(df_weather.MONTH).mean()

In [62]:
avg_precip

       Precipitation_In
MONTH
1              0.143548
2              0.168421
3              0.156935
4              0.051333
5              0.012419
6              0.030500
7              0.012097
8              0.018226
9              0.041000
10             0.189000
11             0.187833
12             0.236290

In [68]:
avg_precip.median()

Precipitation_In    0.097441
dtype: float64

### Whatâ€™s the average number of bikes at a given bike station?

In [65]:
df_station.head(2)

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN

In [81]:
count = df_station['current_dockcount'].mean()
print(f'The average number of bikes at a station is {count}.')

The average number of bikes at a station is 16.517241379310345.

### When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know?

##### If I were to solve this question, I would compare dock_count before and after modifications .

### Come up with 3 more questions that can be answered with this data set.

##### What is the total seconds traveled?

In [79]:
duration = df_trip.tripduration.sum()
print(f'The total number of seconds traveled is {duration}.')

The total number of seconds traveled is 338002362.54099995.

##### What age is the oldest biker?

In [76]:
oldest = 2018 - 1931
print(f'The oldest biker is {oldest}')

The oldest biker is 87

##### What is the average temperature?

In [69]:
average_temp = df_weather.Max_Temperature_F.mean()

In [73]:
print(f'The average temperature is {average_temp}')

The average temperature is 64.02757619738752