# Vg- stats. Notebook. Data Analysis. Madeline Peters.

In [1]:
# Global imports
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df = pd.read_csv('./vgsales.csv')

In [3]:
df = df[df.Global_Sales > 0.1]

### Which company is the most common video game publisher?

In [4]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

##### Total each publisher and return highest

In [35]:
grouped = df.Publisher.groupby(df.Publisher)

In [45]:
series = grouped.count().sort_values(ascending=False)
series

Publisher
Electronic Arts                           1161
Activision                                 780
Ubisoft                                    654
Nintendo                                   631
THQ                                        585
Sony Computer Entertainment                554
Namco Bandai Games                         509
Konami Digital Entertainment               501
Sega                                       444
Take-Two Interactive                       320
Capcom                                     251
Atari                                      244
Warner Bros. Interactive Entertainment     203
Disney Interactive Studios                 193
Square Enix                                183
Midway Games                               144
Tecmo Koei                                 143
Microsoft Game Studios                     140
Acclaim Entertainment                      138
Eidos Interactive                          126
Vivendi Games                              114
505 Games                                   96
Codemasters                                 91
Unknown                                     84
LucasArts                                   75
D3Publisher                                 68
Bethesda Softworks                          61
Deep Silver                                 55
SquareSoft                                  50
Nippon Ichi Software                        48
                                          ...
Telstar                                      1
Essential Games                              1
Jack of All Games                            1
Tetris Online                                1
Electronic Arts Victor                       1
Time Warner Interactive                      1
ESP                                          1
EA Games                                     1
DreamWorks Interactive                       1
Detn8 Games                                  1
TOHO                                         1
Gainax Network Systems                       1
Game Arts                                    1
Gameloft                                     1
Sony Music Entertainment                     1
Indie Games                                  1
Square EA                                    1
Imadio                                       1
Illusion Softworks                           1
ITT Family Games                             1
Starpath Corp.                               1
Hip Interactive                              1
Hello Games                                  1
Havas Interactive                            1
Hamster Corporation                          1
HMH Interactive                              1
Graffiti                                     1
System 3                                     1
T&E Soft                                     1
mixi, Inc                                    1
Name: Publisher, Length: 356, dtype: int64

### Whatâ€™s the most common platform?

In [49]:
grouped = df.Platform.groupby(df.Platform)

In [50]:
series = grouped.count().sort_values(ascending=False)
series

Platform
PS2     1520
DS      1099
PS3     1000
X360     971
Wii      913
PS       897
PSP      546
GBA      504
XB       503
GC       343
PC       302
3DS      279
N64      254
PS4      211
SNES     190
PSV      154
XOne     147
2600     131
SAT      104
WiiU      99
NES       96
GB        93
DC        30
GEN       17
NG         6
WS         5
SCD        2
TG16       1
Name: Platform, dtype: int64

### What about the most common genre?

In [11]:
grouped = df.Genre.groupby(df.Genre)

In [12]:
series = grouped.count()
series

Genre
Action          2201
Adventure        447
Fighting         577
Misc            1071
Platform         636
Puzzle           293
Racing           818
Role-Playing     951
Shooter          895
Simulation       511
Sports          1695
Strategy         322
Name: Genre, dtype: int64

In [13]:
series.max()

2201

### What are the top 20 highest grossing games?

In [14]:
grouped = df.Global_Sales.groupby(df.Name).sum().nlargest(20)

In [15]:
grouped

Name
Wii Sports                        82.74
Grand Theft Auto V                55.92
Super Mario Bros.                 45.31
Tetris                            35.84
Mario Kart Wii                    35.82
Wii Sports Resort                 33.00
Pokemon Red/Pokemon Blue          31.37
Call of Duty: Black Ops           31.03
Call of Duty: Modern Warfare 3    30.83
New Super Mario Bros.             30.01
Call of Duty: Black Ops II        29.72
Wii Play                          29.02
New Super Mario Bros. Wii         28.62
Duck Hunt                         28.31
Call of Duty: Ghosts              27.38
Super Mario World                 26.07
Call of Duty: Black Ops 3         25.32
Call of Duty: Modern Warfare 2    25.09
Nintendogs                        24.76
Grand Theft Auto: San Andreas     23.86
Name: Global_Sales, dtype: float64

### For North American video game sales, whatâ€™s the median?

In [16]:
df['NA_Sales'].median()

0.18

### For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [17]:
north_american_sales = df['NA_Sales'].values[0]

In [18]:
median = df['NA_Sales'].median()

In [19]:
np.std([north_american_sales, median])

20.655

### The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [20]:
sales = df['Global_Sales'].values[0]

In [21]:
avg_sales = df['Global_Sales'].mean()

In [22]:
sales - avg_sales

81.91220984928482

### Come up with 3 more questions that can be answered with this data set.

#### What is the total global sales for all games?

In [23]:
df.Global_Sales.sum()

8623.09

##### What is the number of games released in the most common year in this list?

In [47]:
grouped = df.Year.groupby(df.Year)

In [53]:
series = grouped.count().sort_values(ascending=False)
series

Platform
PS2     1520
DS      1099
PS3     1000
X360     971
Wii      913
PS       897
PSP      546
GBA      504
XB       503
GC       343
PC       302
3DS      279
N64      254
PS4      211
SNES     190
PSV      154
XOne     147
2600     131
SAT      104
WiiU      99
NES       96
GB        93
DC        30
GEN       17
NG         6
WS         5
SCD        2
TG16       1
Name: Platform, dtype: int64

In [27]:
series.max()

876

##### How many total north american sales?

In [51]:
df.NA_Sales.sum()

4267.420000000001