# Vg- stats. Notebook. Data Analysis. Madeline Peters.

In [2]:
# Global imports
import pandas as pd
import numpy as np
import datetime as dt

In [8]:
df = pd.read_csv('./vgsales.csv')

### Which company is the most common video game publisher?

In [11]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

##### Total each publisher and return highest

In [16]:
grouped = df.Publisher.groupby(df.Publisher)

In [18]:
series = grouped.count()
series

Publisher
10TACLE Studios                             3
1C Company                                  3
20th Century Fox Video Games                5
2D Boy                                      1
3DO                                        36
49Games                                     1
505 Games                                 192
5pb                                        61
7G//AMES                                    4
989 Sports                                  1
989 Studios                                14
AQ Interactive                              5
ASC Games                                   3
ASCII Entertainment                        20
ASCII Media Works                           9
ASK                                         1
Abylight                                    1
Acclaim Entertainment                     184
Accolade                                    3
Ackkstudios                                10
Acquire                                    13
Activision                                975
Activision Blizzard                         1
Activision Value                           29
Adeline Software                            1
Aerosoft                                    2
Agatsuma Entertainment                      3
Agetec                                      8
Aksys Games                                 8
Alawar Entertainment                        2
                                         ...
Wargaming.net                               1
Warner Bros. Interactive Entertainment    232
Warp                                        1
WayForward Technologies                     1
Westwood Studios                            1
White Park Bay Software                     1
Wizard Video Games                          1
XS Games                                   12
Xicat Interactive                           3
Xing Entertainment                          1
Xplosiv                                    10
Xseed Games                                 4
Yacht Club Games                            3
Yamasa Entertainment                        2
Yeti                                       11
Yuke's                                      3
Yumedia                                     1
Zenrin                                      2
Zoo Digital Publishing                    104
Zoo Games                                  33
Zushi Games                                18
bitComposer Games                           5
dramatic create                             5
fonfun                                      1
iWin                                        1
id Software                                 1
imageepoch Inc.                             2
inXile Entertainment                        1
mixi, Inc                                   1
responDESIGN                                2
Name: Publisher, Length: 578, dtype: int64

In [26]:
series.max()

3316

### What’s the most common platform?

In [20]:
grouped = df.Platform.groupby(df.Platform)

In [21]:
series = grouped.count()
series

Platform
2600     133
3DO        3
3DS      509
DC        52
DS      2163
GB        98
GBA      822
GC       556
GEN       27
GG         1
N64      319
NES       98
NG        12
PC       960
PCFX       1
PS      1196
PS2     2161
PS3     1329
PS4      336
PSP     1213
PSV      413
SAT      173
SCD        6
SNES     239
TG16       2
WS         6
Wii     1325
WiiU     143
X360    1265
XB       824
XOne     213
Name: Platform, dtype: int64

In [22]:
series.max()

2163

### What about the most common genre?

In [23]:
grouped = df.Genre.groupby(df.Genre)

In [24]:
series = grouped.count()
series

Genre
Action          3316
Adventure       1286
Fighting         848
Misc            1739
Platform         886
Puzzle           582
Racing          1249
Role-Playing    1488
Shooter         1310
Simulation       867
Sports          2346
Strategy         681
Name: Genre, dtype: int64

In [25]:
series.max()

3316

### What are the top 20 highest grossing games?

In [38]:
grouped = df.Global_Sales.nlargest(20)

In [39]:
grouped

0     82.74
1     40.24
2     35.82
3     33.00
4     31.37
5     30.26
6     30.01
7     29.02
8     28.62
9     28.31
10    24.76
11    23.42
12    23.10
13    22.72
14    22.00
15    21.82
16    21.40
17    20.81
18    20.61
19    20.22
Name: Global_Sales, dtype: float64

### For North American video game sales, what’s the median?
Provide a secondary output showing ‘about’ ten games surrounding the median sales output

### For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

### The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

### Come up with 3 more questions that can be answered with this data set.