# Vg- stats. Notebook. Data Analysis. Madeline Peters.

In [2]:
# Global imports
import pandas as pd
import numpy as np
import datetime as dt

In [8]:
df = pd.read_csv('./vgsales.csv')

### Which company is the most common video game publisher?

In [11]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

##### Total each publisher and return highest

In [12]:
grouped = df.Publisher.groupby(df.Publisher)

AttributeError: 'DataFrame' object has no attribute 'PUBLISHER'

### What’s the most common platform?

### What about the most common genre?

### What are the top 20 highest grossing games?

### For North American video game sales, what’s the median?
Provide a secondary output showing ‘about’ ten games surrounding the median sales output

### For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

### The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

### Come up with 3 more questions that can be answered with this data set.